*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.grid-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "BK DPD T1"
        "T2 T3 T4";
    
}

/* Burger King */
section.BK {
    background-color: blanchedalmond;
    grid-area: BK;
}


section.burgerking div {
    position: absolute;
    top: -5em;
    left: 7.5em;
    height: 2em;
    width: 10.5em;
    transform: rotate(180deg);
    border-radius: 150px 150px 0 0;
    background-color: #F18538;
}

section.BK:hover div {
    top: 19em;
    transition: 2s ease; 
 
}

/* DPD */

section.DPD1 {
    background-color: seagreen;
    grid-area: DPD;
}

section.DPD1 div {
    width: 4em;
    height: 4em;
    background-color: red;
}

section.T1 {
    background-color: brown;
    grid-area: T1;
}

section.T2 {
    background-color: chocolate;
    grid-area: T2;
}

section.T3 {
    background-color: cyan;
    grid-area: T3;
}

section.T4 {
    background-color: darkorchid;
    grid-area: T4;
}